<div class="list-group">
    <a href="/mypage" class="list-group-item list-group-item-action">마이페이지</a>
    <a href="/mypage/profile" class="list-group-item list-group-item-action">프로필 수정</a>
    <a href="/mypage/password" class="list-group-item list-group-item-action">비밀번호 변경</a>
    <a href="/mypage/plans" class="list-group-item list-group-item-action">나의 확정 계획</a>
    <a href="/mypage/reviews" class="list-group-item list-group-item-action">나의 후기</a>
</div> 